/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media only screen and (max-width: 1024px) {
    .proj-container {
        margin: 0;
    }
    .home {
        height: auto;
        overflow: auto;
    }
    .box-one,
    .box-two,
    .box-four {
        padding: 10px 0;
        flex: 100%;
        height: auto;
    }
    #preview-image {
        display: none;
    }
    .gif-size {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .centre-text {
        padding: 0 0;
        max-width: 100%;
    }
    .shrink-img {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        padding-top: 3rem;
    }
    .project-grid h2 {
        font-size: 1rem;
    }
    .box-four {
        flex: 100%;
        height: auto;
    }
    .logo>img {
        max-height: 100px;
        max-width: 100px;
        width: 40%;
    }
    /* project details intro grid*/
    .project-grid {
        grid-template-areas: "intro intro" "intro intro" "roles roles" "team team" "duration duration" "tools tools";
        padding-bottom: 2rem;
    }
    .intro-block {
        padding: .75rem 1rem;
        border-bottom: 0;
        border-right: 2px solid #710b79;
    }
    .duration-block {
        padding: .75rem 1rem;
        border-bottom: 0;
    }
    .team-block {
        padding: .75rem 1rem;
        border-bottom: 0;
    }
    .roles-block {
        padding: .75rem 1rem;
        border-bottom: 0;
    }
    .tools-block {
        padding: .75rem 1rem;
    }
    .project-type-block {
        padding: .75rem 1rem;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
        line-height: 100%;
        /* padding-top: 1rem; */
    }
    h2 {
        font-size: 1rem;
        line-height: 130%;
        padding-top: .5rem;
    }
    .nav-block {
        padding-top: 10px;
    }
    .home-h2 {
        font-size: 2.5em;
    }
    .content-end-flex {
        margin-top: 40px;
        flex-direction: column;
    }
    .footer-item-title {
        margin-top: 40px;
    }
    .footer-home {
        position: relative;
        right: 0%;
    }
}